<article>
  <a id="back-to-dash" href="/dashboard"> &larr; Back to dashboard</a>
  <h2>
    Edit Post
  </h2>
  <form id="edit-container">
    <div class="edit-post-form">
      <label id="edit-title" for="post-title">Title</label>
      <input name="post-title" type="text" value="{{post.title}}" />
          <label id="edit-content" for="post-body">Content</label>
       <textarea id="post-input" name="post-body">{{post.content}}</textarea>
    </div>
    <div>

    <button type="button" class="edit-post-btn">Save post</button>
    <button type="button" class="delete-post-btn">Delete post</button>
  </form>
</article>
<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>
