* {
  box-sizing: border-box;
}

body {
  background-color: rgb(202, 210, 197);
  color: rgb(47, 62, 70);
  margin: 0;
}

a {
  color: inherit;
  text-decoration: inherit;
  padding: 1em;
}

header {
  background-color: rgb(132, 169, 140);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#login, #logout {
  justify-content: right;
}

h3 {
  font-size: 3em;
  margin-bottom: 15px;
}

ul {
  list-style: none;
}

label {
  font-size: 1.5em;
  float: left;
  text-align: right;
  margin-right: 15px;
  width: 100px;
}

form {
  margin: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
}

input[type=text], input[type=password] {
  width: 250px;
  height: 45px;


}

div {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

button {
  background-color: rgb(132, 169, 140);
  color: rgb(47, 62, 70);
  font-weight: bold;
  font-size: 2em;
  border-radius: 25px;
  width: 300px;
  height: 45px;
}

.user {
  margin-top: 0;
}

.post {
  display: flex;
  flex-direction: column;
}

.title {
  justify-content: center;
}

.content {
  margin-left: 25px;
}

#comment-input {
  width: 500px;
  height: 45px;
}

.comments {
  display: flex;
  flex-direction: column;
}

.comment {
  padding: 15px;
  margin: 15px;
  width: 600px;
  background-color: rgb(52, 78, 65);
  color: rgb(218, 215, 205)
}

#post-input {
    width: 75vw;
    height: 40vh;
    margin-bottom: 15px;
}

h1 {
  font-size: 2em;
}

.users-posts {
  display: flex;
  flex-direction: column;
}

.user-post {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid black;
}

.user-post h2, p {
  margin: 0;

}

#edit-btn {
  font-size: 1em;
  width: 81px;
  height: 25px;
  margin-top: 5px;
  margin-bottom: 5px;
}